<link rel="stylesheet" href="/css/profile.css">
<link href="/css/gfont.css" rel="stylesheet">
<title>Agro-Point</title>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/images/new_logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        Agro-Point
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="text-align:center; ">
                <a class="nav-link" id="profile" href="" style="color:#20ff00cf;">Namasthe <%=admin.name%> !</a>
            </li>
            <li class="nav-item" style="text-align:center;">
                <a class="nav-link" href="/api/logout" style="color:#20ff00cf">Logout</a>
            </li>
        </ul>
    </div>

</nav>

    <div id="products">
        <br>
        <h3>PRODUCTS</h3>
        <br>
        <div class="container table-responsive">
            <div class="row justify-content-left">
                <label class="form-control-label px-3">Catagory:</label>
                    <select value="this.options" name="category_id" id="cid" onchange="this.options[this.selectedIndex].value && (location.href = this.options[this.selectedIndex].value);">
                    <option value=""><%= category_name %></option>
                    <option value=1>Fertilizers</option>
                    <option value=2>Pesticides</option>
                    <option value=3>Tools</option>
                    <option value=4>Seeds</option>
                    <option value=6>Vehicles</option>
                    <option value=7>Irrigation Needs</option>
                    <option value=5>Other</option>
                    </select>
            </div>
            <div class="row justify-content-center"><h4><%= category_name %></h4></div>
            <div class="justify-content-right">
                <div style="margin-right: 20px;">
                    <form method="get" action="/api/adminControl/add" id="addProductForm">
                        <button class="submi btn btn-success btn-lg float-right" type="submit" name="submit"
                            value="Add Product"><i class="fa fa-plus"></i></button>
                    </form>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Release Year</th>
                        <th scope="col">Official Link</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Description</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach((product)=> { %>
                        <div scope="row">
                            <tr>
                                <td><img src="/images/<%= product.img %>" width="50px" height="50px" alt=""></td>
                                <td>
                                    <%= product.name%>
                                </td>
                                <td>
                                    <%= product.release_year%>
                                </td>
                                <td style="color: black;">
                                    <a href="<%= product.official_link%>" target="_blank"><%= product.official_link%></a>
                                </td>
                                <td>
                                    <%= product.rating%>
                                </td>
                                <td>
                                    <%= product.description%>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success"
                                        onclick="location.href = '/api/adminControl/update/<%=product.pid%>';">
                                        Update
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success"
                                        onclick="location.href = '/api/adminControl/update/<%=product.pid%>';">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </div>
                        <% });%>
                </tbody>
            </table>
        </div>
    </div>